@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

*{
    font-family: 'Jura', sans-serif;
}

html, body{
    margin: 0;
    height: 100%;
}

body{
    display: flex;
}

.divNav{
    display: flex;
    height: 100%;
    align-items: stretch;

}

.navbar{
    background-image: linear-gradient(red,yellow);
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    justify-content: space-between;
    align-items: start;
    display: flex;
    flex-direction: column;
    margin: 0em;
    padding: 0em;
    width: 50%;
    height: 100%;

}

.navbar ul{
list-style: none;
}

.navbar li{
    
}