.header {
    background-color: #9ab9bb;
    height: 90px;
}

.logOut {
    background-color: #321A80;
    width: 224px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.logOut:hover {
    background-color: #271561;
}